<div class="heading">
    <div class="text">
        <h3>This First Heading <span class="text-muted">Will Catch Your Eye</span></h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero soluta laboriosam ad molestiae possimus quidem. Soluta, impedit labore commodi exercitationem, vitae, doloribus odit aperiam ipsum deleniti doloremque assumenda eaque dolorem!</p>
    </div>
    <div class="imagen">
        <img class="redondo" src="assets/img/1.jpg" alt=""> 
    </div>
</div>