<!-- your html code here -->
<div class="portfolio py-5 px-5">

    <div class=" row ">
        <div class="col-12 ml-5">
            <h3>Portfolio</h3>
            <p class="p-portfolio text-justify">Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores
                repellendus in sint unde inventore tenetur id
                necessitatibus laborum labore architecto impedit qui odio enim soluta doloremque eum sequi, laudantium
                cupiditate? necessitatibus laborum labore architecto impedit qui odio enim soluta doloremque eum sequi,
                laudantium
                cupiditate?cessitatibus laborum labore architecto impedit qui odio enim soluta doloremque eum sequi,
                laudantium
                cupiditate? necessitatibus laborum labore architecto impedit qui odio enim soluta doloremque eum sequi,
                laudantium
                cupiditate?</p>
            <div class="card-deck mr-5">
                <div class="card">
                    <img src="http://placehold.it/500x300" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h4 class="card-title text-primary">Project Name</h4>
                        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Error, autem nisi.
                            Voluptates aperiam nesciunt totam perferendis quia cupiditate sit nemo eum. Minus similique
                            a molestiae quas consectetur iste? Perspiciatis, optio.</p>
                    </div>
                </div>
                <div class="card">
                    <img src="http://placehold.it/500x300" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h4 class="card-title text-primary">Project Name</h4>
                        <p class="card-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aut, maiores
                            voluptatem. Architecto dicta iste alias, quia soluta totam, perferendis ipsum saepe, ipsa
                            suscipit explicabo porro fugiat unde dignissimos incidunt quod!</p>
                    </div>
                </div>
                <div class="card">
                    <img src="http://placehold.it/500x300" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h4 class="card-title text-primary">Project Name</h4>
                        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur vitae
                            explicabo numquam eum incidunt ut exercitationem ratione quibusdam. Dolor totam
                            exercitationem iste beatae quae libero iure eius error ipsum consectetur!</p>
                    </div>
                </div>
            </div>
        </div>
    </div>