<!-- your html code here -->
<div class=" container-fluid d-flex pl-5 py-5 ">
    <div class="image2 pl-5 ">
        <img class="rounded-circle float-left " src="/website1/assets/img/2.jpg" alt="" >
    </div>
    <div class="text2 ">
        <h3>The Second Heading <span class="text-muted">Is Pretty Cool Too</span></h3>
        <p class="text-justify-center"> Loredm ipsum dolor sit amet, consectetur adipisicing elit. Asperiores recusandae quod voluptate quisquam commodi
        architecto molestiae nemo quas obcaecati nihil eveniet consequuntur unde officiis molestias fuga quis,
        accusantium aliquam a!Loredm ipsum dolor sit amet, consectetur adipisicing elit. Asperiores recusandae quod voluptate quisquam commodi
        architecto molestiae nemo quas obcaecati nihil eveniet consequuntur unde officiis molestias fuga quis,
        accusantium aliquam a</p>
    </div>
   
</div>